
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: #ffeff3; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    font-family: 'Roboto', sans-serif; 
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%; 
    max-width: 1100px;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo .name {
    display: flex;
    align-items: flex-end; 
    margin-bottom: 5px;
}

.logo .name h2 {

    font-family: 'Just Another Hand', cursive;
    font-size: 5rem; 
    color: #883952; 
    transform: translateY(10px); 
}

.logo .name img {
   
    width: 120px;
    height: auto;
    margin-left: -5px;
}

.logo h3 {
  
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
    color: #4a4a4a; 
    letter-spacing: 2px; 
    margin-left: 20px;
    transform: translateY(-5px);
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; 
    padding: 20px;
}

.login > img {
    width: 160px;
    height: auto;
    margin-bottom: 50px;
}


.input-group {
    width: 100%;
}

.input-item {
    width: 100%;
    margin-bottom: 30px; 
}

.input-item label {
   
    display: block;
    color: #555555;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 5px;
}

.input-wrapper {

    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ffe1e6, #ffc9d4); 
    padding: 12px 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.input-wrapper .icon {

    width: 25px;
    height: 25px;
    color: #f76b8a;
    margin-right: 15px;
}

.input-wrapper input {
   
    border: none;
    outline: none;
    background: transparent;
    flex-grow: 1;
    font-size: 1.2rem;
    color: #333;
    padding: 5px 0;
}


.login button {
    background-color: #ff8fa5; 
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(255, 143, 165, 0.4); 
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #f76b8a; 
}
.login .bi-person-circle,
.login .bi-lock-fill {
    display: none;
}